@{
    Layout="Shared/_Layout.cshtml";
}

<body class="arena">
  <div class="row" id="player1">
    <div class="col-md-6">
      @Model["character1"].GetName()
      @Model["character1"].GetHealth()
    </div>
    <div class="col-md-6">
      @Model["character1"].GetImg()
    </div>

  </div>

  <div class="row" id="players2">
    <div class="col-md-6">
      @Model["character2"].GetImg()
    </div>
    <div class="col-md-6">
      @Model["character2"].GetName()
      @Model["character2"].GetHealth()
    </div>
    </div>
</body>
