@{
    Layout="Shared/_Layout.cshtml";
}
<form action="/attack" method="post">
    <input id='character1-id' name='character1-id' type='hidden' value='@Model["character1"].GetId()'>
    <input id='character2-id' name='character2-id' type='hidden' value='@Model["character2"].GetId()'>
    <select id="character1Attack" name="character1Attack" type="text">
        @foreach(var move in @Model["character1Moves"])
        {
            <option value='@move.GetMoveId()'>@move.GetMoveName()</option>
        }
    </select>
    <select id="character2Attack" name="character2Attack" type="text">
        @foreach(var move2 in @Model["character2Moves"])
        {
            <option value='@move2.GetMoveId()'>@move2.GetMoveName()</option>
        }
    </select>
    <button type="submit">Attack!</button>
</form>

@if (Model["character1Attacked"].GetHealth() != 0)
{
@Model["character1Attacked"].GetHealth();
@Model["character2Attacked"].GetHealth();

}
