<!-- @{
    Layout="Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <form action="/attack1" method="post">
            <div class="row">
                <label for="character1-id">Player 1</label>
                @Model["character1"].GetName()
                <img src="@Model["character1"].GetImg()">
                <input id='character1-id' name='character1-id' type='hidden' value='@Model["character1"].GetId()'>
                <input id='character2-id' name='character2-id' type='hidden' value='@Model["character2"].GetId()'>
                <select id="character1Attack" name="character1Attack" type="text">
                    @foreach(var move in @Model["character1"].GetMoves())
                    {
                        <option value='@move.GetMoveId()'>@move.GetMoveName()</option>
                    }
                </select>
                @if (Model["p1health"] > 0)
                {
                    <span>Health: @Model["p1health"]</span>;
                }
            </div>
            <button type="submit" class="btn">Attack!</button>
          </form>


            <form class="" action="/attack2" method="post">
              <div class="row">
                <label for="character2-id">Player 2</label>
                @Model["character2"].GetName()
                <img src="@Model["character2"].GetImg()">
                <input id='character1-id' name='character1-id' type='hidden' value='@Model["character1"].GetId()'>
                <input id='character2-id' name='character2-id' type='hidden' value='@Model["character2"].GetId()'>
                <select id="character2Attack" name="character2Attack" type="text">
                  @foreach(var move2 in @Model["character2"].GetMoves())
                  {
                    <option value='@move2.GetMoveId()'>@move2.GetMoveName()</option>
                  }
                </select>

                @if (Model["p2health"] > 0)
                {

                  <span>Health: @Model["p2health"]</span>;
                }
              </div>
              <button type="submit" class="btn">Attack!</button>

            </form>
    </div>
</body> -->
