@{
  Layout="Shared/_Layout.cshtml";
}


<body class="arena">
  <div class="container arena-character">
    <div class="row">
      <div class="col-md-6">
        <div class="stats1">
          <label for="character1-id">Player 1</label>
          <span class="character-name">@Model["character1"].GetName()</span><br>
          @if (Model["p1health"] > 0)
          {
            <span>Health: @Model["p1health"]</span>
          }
        </div>
        <div class="playerImg1">
          <img src="@Model["character1"].GetImg()">
        </div>
        <form class="stats1" action="/attack1" method="post">
          <input id='character1-id' name='character1-id' type='hidden' value='@Model["character1"].GetId()'>
          <input id='character2-id' name='character2-id' type='hidden' value='@Model["character2"].GetId()'>
          <select id="character1Attack" name="character1Attack" type="text">
            <option selected="selected">Select Attack</option>
            @foreach(var move in @Model["character1"].GetMoves())
            {
              <option style="font-family: 'Press Start 2P'" value='@move.GetMoveId()'>@move.GetMoveName()</option>
            }
          </select>
          <button type="submit" id="move2" class="btn attack">Attack!</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="stats2">
          <label for="character2-id">Player 2</label>
          <span class="character-name">@Model["character2"].GetName()</span><br>
          @if (Model["p2health"] > 0)
          {
            <span>Health: @Model["p2health"]</span>
          }
          else
          {
            <p>Game over!</p>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character2"].GetImg2()">
        </div>
      </div>
    </div>
  </div>
</body>
