@{
  Layout="Shared/_Layout.cshtml";
}


@if (Model["selectedArena"] == "rocket") {
<body class="rocketArena">
  <div class="container arena-character">
    <div class="row">
      <div class="col-md-6">
        <div class="stats">
          <label for="character1-id">Player 1</label>
          <span class="character-name">@Model["character1"].GetName()</span><br>
          @if (Model["p1health"] > 0)
          {
            <span>Health: @Model["p1health"]</span>
          }
          else
          {
            <p>Game over!</p>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character1"].GetImg()">
        </div>
      </div>
      <div class="col-md-6">
        <div class="stats">
          <label for="character2-id">Player 2</label>
          <span class="character-name">@Model["character2"].GetName()</span><br>
          @if (Model["p2health"] > 0)
          {
            <span>Health: @Model["p2health"]</span>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character2"].GetImg2()">
        </div>
        <form class="stats" action="/attack2" method="post">
          <input id='character1-id' name='character1-id' type='hidden' value='@Model["character1"].GetId()'>
          <input id='character2-id' name='character2-id' type='hidden' value='@Model["character2"].GetId()'>
          <input id='arena-id' name='arena-id' type='hidden' value='@Model["selectedArena"]'>
          <select id="character2Attack" name="character2Attack" type="text">
            <option selected="selected">Select Attack</option>
            @foreach(var move2 in @Model["character2"].GetMoves())
            {
              <option style="font-family: 'Press Start 2P'" value='@move2.GetMoveId()'>@move2.GetMoveName()</option>
            }
          </select>
          <button type="submit" id="move2" class="btn attack">Attack!</button>
        </form>
      </div>
    </div>
  </div>
</body>
}
else if (Model["selectedArena"] == "mortal")
{
  <body class="mortalArena">
  <div class="container arena-character">
    <div class="row">
      <div class="col-md-6">
        <div class="stats">
          <label for="character1-id">Player 1</label>
          <span class="character-name">@Model["character1"].GetName()</span><br>
          @if (Model["p1health"] > 0)
          {
            <span>Health: @Model["p1health"]</span>
          }
          else
          {
            <p>Game over!</p>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character1"].GetImg()">
        </div>
      </div>
      <div class="col-md-6">
        <div class="stats">
          <label for="character2-id">Player 2</label>
          <span class="character-name">@Model["character2"].GetName()</span><br>
          @if (Model["p2health"] > 0)
          {
            <span>Health: @Model["p2health"]</span>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character2"].GetImg2()">
        </div>
        <form class="stats" action="/attack2" method="post">
          <input id='character1-id' name='character1-id' type='hidden' value='@Model["character1"].GetId()'>
          <input id='character2-id' name='character2-id' type='hidden' value='@Model["character2"].GetId()'>
          <input id='arena-id' name='arena-id' type='hidden' value='@Model["selectedArena"]'>
          <select id="character2Attack" name="character2Attack" type="text">
            <option selected="selected">Select Attack</option>
            @foreach(var move2 in @Model["character2"].GetMoves())
            {
              <option style="font-family: 'Press Start 2P'" value='@move2.GetMoveId()'>@move2.GetMoveName()</option>
            }
          </select>
          <button type="submit" id="move2" class="btn attack">Attack!</button>
        </form>
      </div>
    </div>
  </div>
  </body>
}
else if (Model["selectedArena"] == "shanghai")
{
  <body class="shanghaiArena">
  <div class="container arena-character">
    <div class="row">
      <div class="col-md-6">
        <div class="stats">
          <label for="character1-id">Player 1</label>
          <span class="character-name">@Model["character1"].GetName()</span><br>
          @if (Model["p1health"] > 0)
          {
            <span>Health: @Model["p1health"]</span>
          }
          else
          {
            <p>Game over!</p>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character1"].GetImg()">
        </div>
      </div>
      <div class="col-md-6">
        <div class="stats">
          <label for="character2-id">Player 2</label>
          <span class="character-name">@Model["character2"].GetName()</span><br>
          @if (Model["p2health"] > 0)
          {
            <span>Health: @Model["p2health"]</span>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character2"].GetImg2()">
        </div>
        <form class="stats" action="/attack2" method="post">
          <input id='character1-id' name='character1-id' type='hidden' value='@Model["character1"].GetId()'>
          <input id='character2-id' name='character2-id' type='hidden' value='@Model["character2"].GetId()'>
          <input id='arena-id' name='arena-id' type='hidden' value='@Model["selectedArena"]'>
          <select id="character2Attack" name="character2Attack" type="text">
            <option selected="selected">Select Attack</option>
            @foreach(var move2 in @Model["character2"].GetMoves())
            {
              <option style="font-family: 'Press Start 2P'" value='@move2.GetMoveId()'>@move2.GetMoveName()</option>
            }
          </select>
          <button type="submit" id="move2" class="btn attack">Attack!</button>
        </form>
      </div>
    </div>
  </div>
  </body>
}
else if (Model["selectedArena"] == "dbz")
{
  <body class="dbzArena">
  <div class="container arena-character">
    <div class="row">
      <div class="col-md-6">
        <div class="stats">
          <label for="character1-id">Player 1</label>
          <span class="character-name">@Model["character1"].GetName()</span><br>
          @if (Model["p1health"] > 0)
          {
            <span>Health: @Model["p1health"]</span>
          }
          else
          {
            <p>Game over!</p>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character1"].GetImg()">
        </div>
      </div>
      <div class="col-md-6">
        <div class="stats">
          <label for="character2-id">Player 2</label>
          <span class="character-name">@Model["character2"].GetName()</span><br>
          @if (Model["p2health"] > 0)
          {
            <span>Health: @Model["p2health"]</span>
          }
        </div>
        <div class="playerImg2">
          <img src="@Model["character2"].GetImg2()">
        </div>
        <form class="stats" action="/attack2" method="post">
          <input id='character1-id' name='character1-id' type='hidden' value='@Model["character1"].GetId()'>
          <input id='character2-id' name='character2-id' type='hidden' value='@Model["character2"].GetId()'>
          <input id='arena-id' name='arena-id' type='hidden' value='@Model["selectedArena"]'>
          <select id="character2Attack" name="character2Attack" type="text">
            <option selected="selected">Select Attack</option>
            @foreach(var move2 in @Model["character2"].GetMoves())
            {
              <option style="font-family: 'Press Start 2P'" value='@move2.GetMoveId()'>@move2.GetMoveName()</option>
            }
          </select>
          <button type="submit" id="move2" class="btn attack">Attack!</button>
        </form>
      </div>
    </div>
  </div>
  </body>
}
