
@* <form action="/character-selected" method="post">
<select id="character1-id" name="character1-id" type="text">
    @foreach (var character in @Model)
    {
        <option value='@character.GetId()'>@character.GetName()</option>
    }
</select>
<select id="character2-id" name="character2-id" type="text">
    @foreach (var character in @Model)
    {
        <option value='@character.GetId()'>@character.GetName()</option>
    }
</select>
<button type="submit">Add</button>
</form> *@

@{
    Layout="Shared/_Layout.cshtml";
}

<body class="character-select">
    <div class="container">
        <span id="character-select">Select Character</span>
        <form class="characters" action="/arena" method="post">
            @foreach(var character in Model)
            {
                <img src="@character.GetImg()">
                <span class="character-name">@character.GetName()</span>
                <label class="character-name">Player 1</label>
                <input type="radio" name="player1" value="@character.GetId()">
                <label class="character-name">Player 2</label>
                <input type="radio" name="player2" value="@character.GetId()">
            }
            <button type="submit" class="btn">Fight!</button>
        </form>
    </div>
</body>
